body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #cdd0d5;
}

.header h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #ffffff;
}

.header {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-links {
    display: flex;
    gap: 30px;
}

.top-left h1 {
    color: #f9fafb;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;

}

.top-left p {
    color: #cfd2d7;
}

.top-left button {
    background-color: #3b82f6;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 8px;
}

.top-section {
    background-color: #1f2937;
    display: flex;
    padding: 120px 200px;
}

.top-left,
.top-right {
    flex: 1;
}

.top-right {
    background-color:#6d747d;
    color:#e3e4e6;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.middle-top {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    text-align: center;
    max-width: 200px;
}

.image-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3b82f6;
    border-radius: 12px;
    margin-left: 10%;
}

.text {
    color: #656d79;
    padding: 0 25px;
}
