body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #cdd0d5;
}

.header h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #ffffff;
}

.header {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-links {
    display: flex;
    gap: 30px;
}

.top-left h1 {
    color: #f9fafb;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;

}

.top-left p {
    color: #cfd2d7;
}

.top-left button {
    background-color: #3b82f6;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 8px;
}

.top-section {
    background-color: #1f2937;
    display: flex;
    padding: 120px 200px;
}

.top-left,
.top-right {
    flex: 1;
}

.top-right {
    background-color:#6d747d;
    color:#e3e4e6;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
}

.middle-top {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

.info {
    text-align: center;
    max-width: 200px;
}

.image-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3b82f6;
    border-radius: 12px;
    margin-left: 10%;
}

.text {
    color: #656d79;
    padding: 0 25px;
}

.middle-bottom {
    padding: 40px 0;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.middle-bottom p {
    margin-top: 40px;
    padding: 0 370px;
    color: #3b4450;
    font-size: 36px;
}

.middle-bottom span {
    margin-bottom: 40px;
    margin-top: -36px;
    padding-left: 538px;
    color: #222c3a;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 100px 200px;
    padding: 50px 175px;
    border-radius: 12px;
    background-color: #3b82f6;
}

.bottom-text {
    display: flex;
    flex-direction: column;
}

#span1 {
    color: #f5f9fd;
    font-size: 24px;
    font-weight: 700;
}

#span2 {
    color: #c9d6eb;
    font-size: 18px;
}

.bottom-button {
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    background-color: #3b82f6;
    border: 3px solid #e0ebfd;
    border-radius: 10px;
    padding: 0% 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: #f4f4f5;
    background-color: #1f2937;
}